@model IEnumerable<User>

<h2>User Lists</h2>
<a href="/User/Create" class="btn btn-primary"> User Add</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px">@Html.DisplayNameFor(m => m.UserId)</th>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th style="width: 150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.UserId)</td>
                <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-sm btn-danger">Delete</a>
                </td>
                
            </tr>
        }

    </tbody>

</table>